:root {
  font-family: "Bai Jamjuree", sans-serif;
  --Strong-Cyan: hsl(171, 66%, 44%);
  --Light-Blue: hsl(233, 100%, 69%);
  --grey-title: hsl(208, 9%, 32%);
  --light-grey-p: hsl(225, 4%, 78%);
}

* {
  margin: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.conteiner {
  padding-inline: 2.1rem;
  max-width: 68.75rem;
  margin-left: auto;
  margin-right: auto;
}

.main-title {
  color: var(--grey-title);
  text-align: center;
  font-size: 1.9rem;
  font-weight: 600;
}

.title {
  color: var(--grey-title);
  text-align: center;
  font-size: 1.7rem;
  font-weight: 600;
}

.img-center {
  text-align: center;
}

.padding-top {
  padding-top: 3rem;
}

.p-text {
  color: var(--light-grey-p);
  text-align: center;
  line-height: 1.75;
}

header {
  background-image: url(./images/bg-header-mobile.png);
  background-repeat: no-repeat;
  padding-block: 10.4rem;
}

.div-img {
  text-align: center;
  padding-bottom: 3rem;
}

.header__p {
  padding-top: 0.3rem;
  margin-bottom: 3.4rem;
  margin-top: 1rem;
  line-height: 1.7;
}

.div-btn {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 1.2rem;
  gap: 1rem;
}

.div-btn a {
  color: white;
  padding: 1rem 2rem;
  border-radius: 1.9rem;
  text-align: center;
  text-decoration: none;
}

.ios-btn {
  background-color: var(--Strong-Cyan);
}

.mac-btn {
  background-color: var(--Light-Blue);
}

@media screen and (min-width: 768px) {
  header {
    background-image: url(./images/bg-header-desktop.png);
  }
  .main-title {
    font-size: 3rem;
  }
  .header__p {
    font-size: 1.4rem;
    margin-inline: auto;
    max-width: 50rem;
  }

  .div-btn {
    flex-direction: row;
    justify-content: center;
  }
}

.feature1 img {
  padding-top: 4.3rem;
  padding-bottom: 2rem;
}
.feature1-info {
  padding-bottom: 4.6rem;
}

.feature1-maintitle {
  padding-bottom: 2rem;
}

@media screen and (min-width: 768px) {
  .feature1 {
    position: relative;
    padding-bottom: 5rem;
  }

  .feature1-side-text {
    padding: 6.8rem;
    max-width: 50%;
    margin-left: auto;
    font-size: 1.1rem;
  }

  .title {
    font-size: 2.2rem;
  }

  .feature1-title {
    font-size: 1.6rem;
    text-align: left;
  }

  .feature1-info {
    text-align: left;
  }

  .feature1-p {
    font-size: 1.2rem;
    margin-inline: auto;
    max-width: 50rem;
  }

  .feature1 img {
    position: absolute;
    right: 50%;
  }
}

.feature2-title {
  padding-top: 12rem;
}

.feature2 img {
  padding-top: 4rem;
}

.feature2 img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .feature2-title {
    padding-top: 0;
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }

  .feature2-p {
    margin-bottom: 7rem;
  }

  .feature2-subtitle {
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
}

@media screen and (min-width: 768px) {
  .info-img-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    gap: 1rem;
  }
  .info-title {
    font-size: 1.7rem;
    margin-top: 2rem;
  }

  .info-last-p {
    padding-left: 2rem;
  }
}

.logos .conteiner {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  align-items: center;
  padding-top: 9rem;
}

@media screen and (min-width: 768px) {
  .logos .conteiner {
    display: flex;
    flex-direction: row;
  }
}

.download-info .title {
  padding-top: 11rem;
}
@media screen and (min-width: 768px) {
  .download-info__p {
    margin-block: 2rem;
  }
}

footer {
  background-color: hsl(240, 20%, 96%);
  margin-top: 10rem;
}

.footer-info {
  align-items: center;
  gap: 0.2rem;
  display: flex;
  flex-direction: column;
  font-weight: 400;
  color: var(--grey-title);
  font-size: 0.9rem;
}

footer .logo-footer {
  padding-top: 3rem;
}

.footer-logos {
  display: flex;
  gap: 2.5rem;
  justify-content: center;
  padding-block: 3rem;
}
